
.card-service{
	background: var(--bg-gradient);
}
.section-services {
	padding-top: 110px;
	padding-bottom: 120px;

}
.title{
    background: -webkit-linear-gradient(#eee, #91e8ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.section-services .header-section .title {
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 25px;
	text-transform: uppercase;
	font-weight: 700;
}

.section-services .header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 140px;
	height: 1px;
	background-color: #1ba4db;
}

.section-services .header-section .title:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);
	width: 45px;
	height: 3px;
	background-color: #31ebfb;
}


